<%- include ("./parts/header.ejs") %>
<%- include ("./parts/navbar.ejs") %>
<div class="container">
    <p class="alert alert-danger">
        Bạn không có quyền truy cập trang!
    </p>
</div>

<%- include ("./parts/footer.ejs") %>